body {
  max-width: 600px;
  margin: auto;
  background-image: url(/images/background.jpg);
  background-size: cover;
}
.card {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 50px;
  max-width: 630px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: radial-gradient(
    circle at 0.4% -0.6%,
    rgb(143, 170, 210) 0%,
    rgb(255, 177, 177) 90%
  );
}
.card-title {
  text-decoration: underline;
}
img {
  width: 25%;
  margin: auto;
  display: block;
}

h4,
h5,
h6,
p,
ul {
  text-align: center;
  margin-bottom: 4px;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
hr {
  margin: 4px;
}
#farenheit {
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}

.container .row {
  justify-content: center;
  margin: auto;
  width: 100%;
}
.btn {
  background-color: #343a51;
  border-color: #343a51;
}
#status {
  text-transform: capitalize;
}
footer p {
  text-align: left;
  font-weight: 600;
  font-family: "Courier Prime", monospace;
  color: #000000;
}
.weather-temp .active {
  color: #000000;
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}
.col-sm-2 {
  text-align: center;
  width: 20%;
}
.weather-forecast {
  text-align: center;
}
#footer {
  text-decoration: none;
}
@media (max-width: 576px) {
  .row {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
